h1{
	color: red;
}
h2{
	background-color: green;
}
h3{
	color: blue;
}
div{
	border: 1px red solid;
}
#div1{
	border-color: red;
	height: 100px;
	width: 500px;
}
#div2{
	border-color: green;
	height: 90px;
	width: 450px;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 20px;
}
#div3{
	border-color: yellow;
}
img{
	 height: 70px;
	 width: 350px;
}